.App {
  text-align: center;
  background-color: #3A99D8;
}

.appHeader {
  background-color: #fff;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0 5vw;
  color: #409AD6;
}

.logoWrapper {
  width: 90%;
}

.logo {
  float: left;
  height: 10vh;
}

.container {
  padding: 10vh 30vh;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10vh 5vh;
  }

  .logo {
    height: 5vh;
  }
}
