.footer {
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}

.footer__text {
  color: #fff;
  margin-left: 0.05rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vh;
}

.footer__heart {
  font-size: 100%;
  color: #F00;
}

.footer__copyright {
  text-align: center;
}
