.inputField {
  display: flex;
}

.input {
  font-size: 20px;
  padding: 6px 8px;
  border: solid 3px #cecece;
  border-radius: 5px;
  height: 20px;
  width: auto;
}

.input:focus {
  border: solid 3px #008AB4;
  outline: none;
}

@media only screen and (max-width: 600px) {
	.inputField {
    justify-content: center;
  }
}
