.inputSection {
  background-color: #fff;
  border-radius: 50px;
  padding: 8vh 5vw;
  margin: 5vh 0;
}

.inputSectionHeader {
  margin-bottom: 18vh;
  font-weight: 600;
  font-size: 2rem;
  color: #008AB4;
}

.questionsSection {
  margin-top: 2vh;
}

@media only screen and (max-width: 600px) {
  .inputSection {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .inputSectionHeader {
    margin-bottom: 3vh;
  }

}
