.pictureWrapper {
  min-height: 40vh;
  background-image: url(./assets/wallpaper.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.landing {
  background-color: #fff;
}

.landingContainer {
  color: #000;
  padding: 10vh 30vh;
  display: flex;
  flex-direction: column;

}

.title {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.applyTitle {
  color: #fff;
}


@media only screen and (max-width: 600px) {
  .landingContainer {
    padding: 5vh 5vh;
  }
}

.submitButton {
  border: solid 3px #000;
  border-radius: 15px;
  padding: 2vh 4vw;
  font-size: 1.5rem;
  text-align: center;
  width: auto;
}
