.submitButton {
  border: solid 3px #fff;
  border-radius: 15px;
  padding: 2vh 8vw;
  font-size: 1.5rem;
  text-align: center;
  width: auto;
}

.submittedButton {
  width: auto;
  border: solid 3px #28bb63;
  background-color: #28bb63;
  border-radius: 15px;
  padding: 2vh 8vw;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.nameBlock {
  display: flex;
  flex-direction: row;
}

.phoneBlock {
  display: flex;
  flex-direction: row;
}

.subSocial {
  display: flex;
  flex-direction: row;
}
