.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 55vh;
}

.signupHeader {
  color: #fff;
}

.qBlock {
  margin: 0.5vh 0;
}

.questionWrapper {
  width: 20vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  font-size: 20px;
  padding: 6px 8px;
  border: solid 3px #cecece;
  border-radius: 5px;
  height: 20px;
  width: auto;
}

.inputField {
  display: flex;
}

.input:focus {
  border: solid 3px #008AB4;
  outline: none;
}

@media only screen and (max-width: 600px) {
	.inputField {
    justify-content: center;
  }
}

.inputQuestion {
  display: flex;
  color: #fff;
  padding: 0.5vh 0;
}

@media only screen and (max-width: 600px) {
  .inputQuestion {
    padding: 0.5vh 8vw;
  }
}


button {
  width: 200px;
  border: solid 3px #fff;
  border-radius: 3px;
  margin-top: 1vh;
  padding: 1vh 2vw;
  font-size: 1rem;
}

.buttonWrapper {
  margin-top: 3vh;
}
